<!DOCTYPE html>
<html ng-app="contactsApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="contacts.js"></script>
    <link rel="stylesheet" type="text/css" href="contacts.css"></link>
  </head>
  <body ng-controller="ContactsAppController">
    <h1>Contacts App</h1>
    <label for="name">Name</label>
    <input type="text" id="name" ng-model="name">
    <label for="email">Email</label>
    <input type="text" id="email" ng-model="email">
    <label for="phone">Phone</label>
    <input type="text" id="phone" ng-model="phone">
    <button ng-click='addContact(name, email, phone)'>Add Contact</button>
    <br><br>
    <label for="Search">Search</label>
    <input type="text" id="search" ng-model="search">
    <br><br>
    <table>
      <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </thead>
        <tr ng-repeat="contact in contacts | filter:search" ng-mouseover='turnRed()'>
          <td>{{contact.name}}</td>
          <td>{{contact.email}}</td>
          <td>{{contact.phone}}</td>
      <tbody>
      </tbody>
    </table>
  </body>
</html>
